@import "./components/core";

.main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    min-height: 60rem;
    background: url(../../img/bg.jpg)   no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        z-index: -1;
        background-image: linear-gradient(51deg, #3695ff 0%, #3564fc 100%);
    }
}

.header{
    display: flex;
    padding-top: 10rem;
a{
    text-decoration: none;
}
       
        .fas{
            
            display: flex;
            justify-content: flex-end;
            text-decoration: none;
            color: #ffff;
            transition: 0.2s;
            &:hover,&:active,&:focus{
                color: #3564fc;
            }
        
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        width: 100%;
        position: fixed;
        // z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        transition: 0.5s;
        transform: translateX(100%);
        .close-menu{
            list-style-type: none;
            position: fixed;
            right: 5rem;
            top: 5rem;
            font-size: 6rem;
        }
        .menu-item{        
            list-style-type: none;
            font-size: 3rem;
            a{
                color: #ffffff;  
                transition: 0.2s;
                &:hover{
                    color: $textColor;
                }  
            }
        }
    }
    .menu-active{
        transform: translateX(0%);
    }
    @include media-breakpoint-between(xs, md){
        padding-top: 3rem;
    }
}

.main-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    @include media-breakpoint-between(xs, md) {
        .h1{
            font-size: 3rem;
            line-height: 3rem;
        }
        .h3{
            margin-top: 2rem;
            font-size: 1.3rem;
            line-height: 1.8rem;
            font-weight: 800;
        }
    }
}
.know-action{
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    a{
        margin-left: 4rem;
        @include media-breakpoint-between(xs,sm) { 
            margin-left: 1.5rem;
        }
        .fab, .fas{
            font-size: 3.6rem;
        }
    }
}

#offer{
    background-color: $lightblue;
}

.skills{
    margin-top: 10rem;
    @include media-breakpoint-between(xs,sm) { 
        margin-top: 3rem;
    }
    .skill-list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        .skill-icon{
            margin: 2rem;
            .circle{
                    width: 10rem;
                    height: 10rem;
                    border-radius: 50%;
                    border: 0.1rem solid #b7c0c9;
                    text-align: center;
                    line-height: 10rem;
            }
            .fab,.fas{
                font-size: 5rem;
                color: $textColor;
            }
        }
        .h2{
            margin-top: 3rem;
        }
        p{
            margin-top: 3rem;
            color: $grey;
            font-family: $fontPrime, serif;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 3.5rem;
        }
    }
}

.work-grid{
    margin-top: 10rem;
    @include media-breakpoint-between(xs,sm) { 
        margin-top: 3rem;
    }
    .box-work{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        border: 0.1rem solid #f4f4f4;
        background-color: #f4f4f4;
    }
}

#reference{
    background-color: $lightblue;
}

.contact-bg{
    background-color: #e8f3ff;
    position: relative;
    z-index: 1;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: -1;
        background-image: linear-gradient(51deg, #3695ff 20%, #3564fc 80%);
    }
}