// Типография
$fontPrime:  'Carrois Gothic SC', sans-serif;
$fontSecond: 'Open Sans', sans-serif;
$regular: 400;
$light: 300;
$bold: 700;

$primeGradient: linear-gradient(39deg, #3695ff 0%, #3564fc 100%);
$brandColor: #4094ff;
$textColor: #3677fd;
$lightgrey:#f4f4f4;
$lightblue:  #f1f8ff; 
$grey: #5a5a5a;